doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/font-awesome.css')
    link(rel='stylesheet', href='/stylesheets/font-awesome.min.css')
    link(rel='stylesheet', href='/stylesheets/theme.css')
    
    script(src='javascripts/jquery.js')
    script(src='javascripts/jquery.easing.min.js')
    script(src='javascripts/bootstrap.min.js')
    script(src='javascripts/theme.js')
  body
    block content
